:root {
	--color-primary: #CCCCCC;
	--color-hover: #BBBBBB;
	--color-dark: #000000;
	--color-accent:#CC0000;
}

* {
	font-family: "Tahoma", Sans-Serif
}

html {
	max-width: 1024px;
}

hr {
	background-color: var(--color-primary);
}

section {
	text-align: center;
	font-size: 0.8em;
}

.fit { /* fit screen width */
	max-width: 100%;
	max-height: 100%;
}

.center { /* center content on screen */
	display: block;
	margin: auto;
}

.navbar {
	background-color: var(--color-primary);
	overflow: hidden;
	margin-top: .5em;
}

.navbar a {
	float: left;
	color: var(--color-dark);
	text-align: center;
	padding: 0.8em 1.0em;
	text-decoration: none;
	font-size: 1.35em;
}

.navbar a:hover {
	background-color: var(--color-hover);
}

.slideshow-div {
	position: relative;
}

.slideshow-img {
    display: none;
}

.slideshow-prev, .slideshow-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.slideshow-next {
	right: 0;
	border-radius: 0 3px 3px 0; 
}

.slideshow-prev:hover, .slideshow-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.content {
	float: left;
	color: var(--color-dark);
	text-decoration: none;
	font-size: 1.25em;
}

.content h2 {
	text-align: center;
}

.content ul {
	list-style-position: outside;
	padding-left: 1em;
}

.content ol {
	list-style-position: outside;
	padding-left: 1em;
}